// Header Template
header.header
  img(src="/img/logo.svg", alt="").header__logo
  div.header__text
    h1.header__text__title Rutux
    p.header__text__sub The Http/2 framework
// Header Resources
link(rel="stylesheet", href="/css/prism.css")
link(rel="stylesheet", href="/css/header.css")
script(src="/js/prism.js")